.cl{
    max-width: 1100px;
    background-color: rgb(157, 92, 92);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
.img{
    width:350px; 
    height: 200px;
}

.block5{
    max-width: 1100px;
    background-color: #595959;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    max-height: 500px;
}