.multi{
    max-width: 1150px;
    background-color: rgb(213, 128, 128);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
.img{
    width:350px; 
    height: 200px;
}

.block5{
    max-width: 1100px;
    background-color: #b16767;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    max-height: 500px;
}
body{
    background-color: rgb(187, 169, 169);
}